body {
  margin: 1px;
  background-color: #323c3c;
  color: #c5d1b8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  gap: 3px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fullscreen {
  width: 100vh;
  height: 100vh;
}

.sim-wrapper {
  outline: 1px solid rgba(255, 255, 255, 0.15);
}

canvas {
  display: block;
}

aside {
  width: 312px;
  box-sizing: border-box;
  height: 100%;
}

#graphs {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.bytecode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
  font-size: 0.8em;
  font-family: monospace;
}

.words {
  max-height: 313px;
  overflow-y: auto;
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  font-size: 0.8em;
}

.stack {
  font-size: 0.7em;
  font-family: monospace;
}

/*******/
button {
  color: inherit;
  font-family: inherit;
  text-shadow: inherit;
}

/*******/

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: end;
  gap: 1px;
  margin-left: 2px;
}

.tab {
  background: #323c3c;
  border: none;
  border-bottom: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  padding: 5px 7px 3px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.tab.selected {
  background: #057334;
  z-index: 10;
  padding-bottom: 4px;
  font-weight: bold;
}

.tabs-content {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  padding: 5px;
}

/*******/
.graphs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.graph-wrapper {
  width: 100%;
  height: 120px;
  position: relative;
  outline: 1px solid rgba(255, 255, 255, 0.15);
}

.graph-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.graph-wrapper .hover {
  z-index: 2;
}

.graph-values {
  position: absolute;
  top: 100%;
  z-index: 100;
  display: none;
  pointer-events: none;
  flex-direction: column;
  font-size: 0.6em;
  background-color: #202727;
  word-break: keep-all;
  overflow-wrap: normal;
  white-space: nowrap;
  padding: 2px;
}

.graph-values.show {
  display: flex;
}

.graph-values .value {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.graph-values .value .color {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}

/*******/
.panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/** TOOLBAR **/

.toolbar {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  padding: 5px;
  gap: 5px;
}

.toolbar button {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  background: #323c3c;
  background: linear-gradient(
    180deg,
    rgba(50, 60, 60, 1) 0%,
    rgba(50, 60, 60, 1) 47%,
    rgba(33, 40, 40, 1) 53%,
    rgba(33, 40, 40, 1) 100%
  );
  border: 1px solid #161a1a;
  border-radius: 2px;
  height: 28px;
  padding: 0 10px;
  cursor: pointer;
}

.toolbar button:hover {
  background: #465454;
  background: linear-gradient(
    180deg,
    #384343 0%,
    #384343 47%,
    #283030 53%,
    #283030 100%
  );
}

.toolbar button:active {
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.4);
  background: #283030;
  padding-top: 2px;
}

.toolbar button:disabled {
  background: #4c5252;
  border: 1px solid #282a2a;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

/** TABLE **/

table {
  table-layout: auto;
  width: auto;
  align-self: start;
  background-color: rgba(255, 255, 255, 0.05);
  border-collapse: collapse;
  font-size: 0.8em;
}

table td {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 3px;
}

table.col-header td:first-child {
  font-weight: bold;
}

/** SECTIONS **/

section h2 {
  margin: 0 0 5px;
  font-size: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

section + section {
  margin-top: 8px;
}
