body {
  margin: 1px;
  background-color: #323c3c;
  color: #c5d1b8;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  gap: 1px;
}

canvas {
  display: block;
}

main {
  width: 312px;
  box-sizing: border-box;
  height: 100%;
}

#graphs {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.bytecode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
  font-size: 0.8em;
}

.words {
  max-height: 313px;
  overflow-y: auto;
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 0.8em;
}

.stack {
  font-size: 0.8em;
}

.details {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.2em 0.8em;
  margin-bottom: 0.5em;
}

.details > *:nth-child(2n + 1) {
  font-weight: bold;
}

/*******/
button {
  color: inherit;
  font-family: inherit;
  text-shadow: inherit;
}

/*******/

.tabs-wrapper {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  background: #323c3c;
  border: 1px solid #1b2020;
  border-bottom: none;
  box-shadow: inset 0px 1px 0px 0px #384343;
}

.tabs-content {
  border: 1px solid #1b2020;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  padding: 5px;
}

/*******/
.graph-wrapper {
  width: 300px;
  height: 120px;
}
